body {
  background-color: black;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: hidden;
}
#alltogether
{ 
  gap: 20px;
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;  
}
#back
{
  position: fixed;
  margin: 10px;
  color: orange;
  cursor: pointer;
}

.game
{
  height: 11vh;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  width: max(14vw, 80px);
  justify-content: center;
  align-items: center;
  background-color: orange;
}
#container
{
  display: none;
}
.container
{
  display: flex;
  position: absolute;
  bottom: 0%;
  gap: 50vw;
  left: 25%;

}
.song
{
background-color: gray;
margin: 10px;
border-radius: 10px;
display: flex;
}
.description
{
margin: 5px;
}
h3
{
margin: 0px;
}
h4
{
margin: 0px;
}
.img
{
margin: 10px;
border-radius: 20%;
width: 10vw;
}
.spotify
{
height: 25px;
width: 60px;
border-radius: 3px;
border-color: white;
}
.inside
{
  width: 50vw;
  height: 70vh;
  position: relative;
  overflow: auto;
}

#playlist
{
position: absolute;
left: 50%;
top: 5%;
transform: translate(-50%, 0%);
color: orange;
}
#linkstory
{
position: absolute;
left: 50%;
top: 10%;
transform: translate(-50%, 0%);
color: orange;
}

.animation
{
animation: moving2 1s forwards;
}

.back
{
animation: back 1s forwards;
}
.incoming
{
animation: incoming 1s forwards;
}

.incoming2
{
animation: incoming2 1s forwards;
}

@keyframes moving2
{
0%{top: 50%;}
100%{top: 20%;}
}

@keyframes back
{
0%{top: 15%;}
100%{top: 50%;}
}

@keyframes incoming
{
0%{bottom: -100%;}
100%{bottom: 0%;}
}

@keyframes incoming2
{
0%{bottom: 0%;}
100%{bottom: -100%;}
}

@media (orientation: portrait) {
.img{
  display: none;
}
}